<%- include("../includes/header.ejs", {title:"Accounts"}); %>
<h1>Account: <%= account.first_name %></h1>
<ul>
    <li>Account Name: <%= account.first_name %> <%= account.last_name %></li>
    <li>Email: <%= account.email %></li>

    <li>School(s):
        <ul>
            <% for(var i=0; school.length > i; i++ ) { %>
            <li><%= school[i].school_name %></li>
            <% } %>
        </ul>
    </li>
    <li>Skill(s):
        <ul>
            <% for(var i=0; skill.length > i; i++ ) { %>
            <li><%= skill[i].skill_name %></li>
            <% } %>
        </ul>
    </li>
    <li>Company(s):
        <ul>
            <% for(var i=0; company.length > i; i++ ) { %>
            <li><%= company[i].company_name %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>