<%- include("../includes/header.ejs", {title:"resume - View All"}); %>

<h1>Resumes</h1>
        <a href="/resume/add/selectuser">Create New Resume</a> <br />

        <br />

        <table border="1">
            <tr><th>&nbspFirst Name&nbsp</th><th>&nbspLast Name&nbsp</th><th>&nbspResume Name&nbsp</th><th>&nbspActions&nbsp</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/account/?account_id=<%= result[i].account_id %>">&nbsp<%= result[i].first_name %>&nbsp</a></td>
                <td><a href="/account/?account_id=<%= result[i].account_id %>">&nbsp<%= result[i].last_name %>&nbsp</a></td>
                <td><a href="/resume/?resume_id=<%= result[i].resume_id %>">&nbsp<%= result[i].resume_name %>&nbsp</a></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/resume/edit/?resume_id=<%= result[i].resume_id %>'">Edit</button>
                    <form action="/resume/delete/" style="display:inline;">
                        <input type="hidden" name="resume_id" id="resume_id" value="<%= result[i].resume_id %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
<br />
<a href="/">Home</a> <br />
<%- include("../includes/footer.ejs"); %>