<%- include("../includes/header.ejs", {title:"Add New Resume"}); %>
<h1>Add New Resume</h1>
<form action="/resume/insert" method="get">
    Resume Name: <input id="resume_name" name="resume_name" type="text" />
    <br />
    <br />
    FINISH THIS
    <br />
    <select id="address_id" name="address_id" multiple="multiple">
        <% for(var i=0; address.length > i; i++ ) { %>
        <option value="<%= address[i].address_id %>"><%= address[i].street + ', ' + address[i].zip_code %></option>
        <% } %>
    </select>

    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>